:root {
    /* SIZE */
    --size-300: .8rem;
    --size-400: 1rem;
    --size-500: 1.33rem;
    --size-600: 1.77rem;
    --size-700: 2.4rem;

    /* COLORS */
    --color-primary: #432e8b;
    --color-secondary: #ff8484;
    --color-secondary-shade: #ff5151;
    --color-tertiary: #2c988c;
    --color-tertiary-glare: #a7ecdd;
    --color-quaternary: #2374ab;
    --color-light: #fafafa;
    --color-light-shade: #eeeeee;
    --color-grey: #c4c4c4;

    --font-base: sans-serif;
    --font-mono: impact;

    /* FONT WEIGHT */
    --weight-medium: 500;
    --weight-bold: 700;

    /* BREAKPOINTS */
    /* --breakpoints-md: 48em; */
}