:root {
    /* COLORS */
    --primary: #231651;
    --secondary: #ff8484;
    --secondary-shade: #ff5151;
    --tertiary: #2c988c;
    --tertiary-glare: #d6fff6;
    --quaternary: #2374ab;
    --light: #fafafa;
    --light-shade: #eeeeee;
    --grey: #c4c4c4;

    /* FONT SIZE */
    --text-300: .8rem;
    --text-400: 1rem;
    --text-500: 1.25rem;
    --text-600: 1.75rem;
    --text-700: 2.25rem;
} 

/* Global CSS starts */
body {
  line-height: 1.5;
  overflow-x: hidden;
  padding-bottom: 2rem;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

h1 {
    font-size: var(--text-700);
}

h2 {
    font-size: var(--text-600);
}

/* h3 {
    font-size: var(--text-400);
    color: var(--secondary);
} */

a {
    color: currentColor;
}
  
table {
    border-collapse: collapse;
}
  
th {
    text-align: left;
}
  
:focus {
    outline: 2px dotted;
    outline-offset: 0.25rem;
}